[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
drf-excel = "*"
drf-yasg = "*"
# django-rest-swagger = "*"
dj-database-url = "*"
psycopg2-binary = "*"
environ = "*"
crispy-bootstrap5 = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.11"
