django == "*"
djangorestframework == "*"
mysqlclient == "*"
drf-excel == "*"
drf-yasg == "*"
# django-rest-swagger = "*"
dj-database-url == "*"
psycopg2-binary == "*"
environ == "*"
crispy-bootstrap5 == "*"
django-environ == "*"
gunicorn == "*"